{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% for listing in listings %}
        <a class="card" href="{% url 'show_listing' listing.id %}">
            <div class="card-img-container">
            {% if listing.image_url %}
                <img class="card-img" src="{{ listing.image_url }}" alt="Listing picture">
            {% endif %}
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ listing.title }}</h3>
                
                <p><strong>Price:</strong> {{ listing.starting_bid }}$</p>
                <p class="card-text">{{ listing.description }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}